<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <section>
      <ul class="produtos">
        <li>
          <h2>Cabelo</h2>
          <img src="/img/cabelo.jpg" />
          <p class="produto-descricao">
            Na tesoura ou máquina, como o cliente preferir
          </p>
          <p class="produto-preco">R$ 30,00</p>
        </li>
        <li>
          <h2>Barba</h2>
          <img src="/img/barba.jpg" />
          <p class="produto-descricao">Corte e desenho profissional de barba</p>
          <p class="produto-preco">R$ 30,00</p>
        </li>
        <li>
          <h2>Cabelo + Barba</h2>
          <img src="/img/cabelo+barba.jpg" />
          <p class="produto-descricao">Pacote completo de cabelo e barba</p>
          <p class="produto-preco">R$ 55,00</p>
        </li>
      </ul>
    </section>
    <section class="mapa">
      <h3 class="titulo-principal">Localização do nosso estabelecimento</h3>

      <div class="mapa-conteudo">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d938.1993868106946!2d-43.94370326242234!3d-19.848517375357027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69bd81a0d0291%3A0xabc849ba3d1ab7f8!2sBarbearia%20pedro%20senna!5e0!3m2!1spt-BR!2sbr!4v1716130594577!5m2!1spt-BR!2sbr"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </section>
  </body>
</html>
